body {
	margin: 0px;
	padding: 0px;
}

.welcome {
	background-color: #8A2BE2;
	color: white;
}

.card {
	background-color: white;
	box-shadow: 1px 3px 10px 2px #888888;
	color: #8A2BE2;
	padding: 0px;
	margin-top: 20px;
	margin-left: 30px;
}


.card-header {
	background-color: #8A2BE2;
	color: white;
	width: 100%;
	padding: 1px;
	padding-left: 10px;
}

.card-body {
	padding: 15px;
}

.card-footer {
	background-color: #8A2BE2;
	color: white;
	width: 100%;
	padding: 5px;
}

.arrow a {
	color: white
}